html body{
    font-family: "Titillium Web", sans-serif;
}


.card{
    border: none;
}

.card img{
    border-radius: 50px;
}

.card-title{
    font-size: 15px;
}

.singlePage{
    width: 1200px;
}

.priceCard{
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.priceCard-body{
    padding: 10px;
}

/* NAVIGATION BAR */

.navBar{
    background-color: rgb(3 2 31);
}

.Brand{
    font-weight: bold;
    font-size: 30px;
    text-align: start;
    color: #fff;
    margin-left: 30px;
}

.navItems{
    margin: auto;
}



/* FOOTER */

.footer{
    background-color: rgb(3 2 31);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.aboutFooter{
    padding: 30px;
    padding-left: 100px;
    text-align: start;
}

.contactFooter{
    padding: 30px;
}

.iconsFooter{
    padding: 30px;
    text-align: start;
}

.iconsFooter i{
    font-size: 30px;
    margin-right: 20px;
    color: #fff;
    
}

.iconsFooter h3{
    text-align: start;
}

.iconsFooter p{
    text-align: start;
}

.form-control{
    width: 300px;
}

/* ABOUT US */
.aboutUs-container{
    width: 900px;
}

.gobackBtn i{
    font-size: 20px;
    margin-right: 5px;
    margin-top: 4px;
}


.gobackBtn{
    margin-top: 20px;
    margin-left: 30px;
}

.gobackBtn:hover{
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
}